{% extends "base.html" %}

{% block title %}APEX | {{ article.title }}{% endblock %}

{% block styles %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/article_deatais.css') }}">
{% endblock %}


{% block content %}

<header class="article-header w-100" style="background-image: url('{{ url_for('static', filename='uploads/images/' + article.image) }}');">
    <div class="article-overlay"></div>
    
    <div class="container h-100 d-flex flex-column justify-content-end pb-5 position-relative z-2">
        <div class="col-lg-9 mx-auto text-center">
            
            <span class="badge bg-warning text-dark mb-3 px-3 py-2 rounded-pill shadow-sm fw-bold">
                {{ article.subject }}
            </span>
            
            <h1 class="display-4 fw-bold mb-4 text-white text-shadow">
                {{ article.title }}
            </h1>
            
            <div class="d-flex justify-content-center align-items-center text-white gap-3">
                <div class="d-flex align-items-center gap-2">
                    <i class="fas fa-user-circle fa-lg"></i>
                    <span class="fw-bold">{{ article.author }}</span>
                </div>
                <span class="opacity-50">|</span>
                <div class="d-flex align-items-center gap-2">
                    <i class="far fa-calendar-alt"></i>
                    <span>{{ article.created_at.strftime('%B %d, %Y') }}</span>
                </div>
            </div>

        </div>
    </div>
</header>

<section class="section-padding bg-white">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-8">
                
                <div class="d-flex justify-content-between align-items-center mb-5 border-bottom pb-3">
                    <span class="text-muted small fw-bold text-uppercase">Share this article</span>
                    <div class="d-flex gap-2">
                        <button class="btn btn-sm btn-outline-primary rounded-circle"><a href='https://web.facebook.com/profile.php?id=61582914692395' class="fab fa-facebook-f"></a></button>
                        <button class="btn btn-sm btn-outline-info rounded-circle"><a href='https://www.instagram.com/apexoncampus?utm_source=ig_web_button_share_sheet&igsh=ZDNlZDc0MzIxNw==' class="fab fa-instagram"></a></button>
                    </div>
                </div>

                <div class="article-body">
                    {{ article.content | safe }}
                </div>

                <div class="mt-5 pt-5 border-top d-flex justify-content-center">
                    <a href="{{ url_for('articles') }}" class="btn btn-outline-dark rounded-pill px-5">
                        <i class="fas fa-th-large me-2"></i> Browse All Articles
                    </a>
                </div>

            </div>
        </div>
    </div>
</section>

{% endblock %}